<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <p>
                        <input type='number' required name="amount" style="width: 100px;" class="input" placeholder="amount" [ngModel]="item.amount">
                    </p>
                </div>
            </div>
            <div class="field is-narrow">
                <div class="control">
                    <p>
                        <input type='text' required name="description" style="width: 300px;" class="input" placeholder="description" [ngModel]="item.description">
                    </p>
                </div>
            </div>
            <div class="field">
                <button type="submit" class="button is-primary" [disabled]="!itemForm.valid">add</button>

            </div>
        </div>
    </div>
</form>