<form>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <p>
                        <input type='number' style="width: 100px;" class="input" placeholder="amount">
                    </p>
                </div>
            </div>
            <div class="field is-narrow">
                <div class="control">
                    <p>
                        <input type='text' style="width: 300px;" class="input" placeholder="description">
                    </p>
                </div>
            </div>
            <div class="field">
                <button class="button is-primary">add</button>

            </div>
        </div>
    </div>
</form>